# Ignore virtual environment folder
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore IDE specific files
.vscode/
.idea/

# Ignore Python project
homework01_solution.md
homework02_solution.md
